<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#ty-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand v-mid" href="">
                <span class="fa fa-tumblr-square"></span>
                Travelyaar
            </a>
        </div>
        <div class="collapse navbar-collapse" id="ty-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/profile" class="selected-link"><span class="fa fa-home nav-icon"></span>Profile</a>
                </li>
                <li>
                    <a href="#/recommendation"><span class="fa fa-heart nav-icon"></span> My Recommendations</a>
                </li>
                <li>
                    <a href="#/connections"><span class="fa fa-users nav-icon"></span> Connections</a>
                </li>
                <li>
                    <a href="#/discover">
                        <span class="fa fa-search nav-icon"></span>
                        Discover Places
                    </a>
                </li>
                <li ng-if="currentUser.role == 'admin'">
                    <a href="#/admin">
                        <span class="fa fa-user nav-icon"></span>
                        Admin
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-expanded="false">
                        <span class="fa fa-user nav-icon"></span>
                        <span class="profile-username">{{currentUser.firstName}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/account"><span class="fa fa-cog nav-icon"></span>Settings</a></li>
                        <li><a ng-click="model.logout()" href=""><span class="fa fa-sign-out nav-icon"></span>Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container padded-top padded-bottom">
    <div class="center-content text-center">
        <h2>{{model.user.firstName}} {{model.user.lastName}}</h2>
        <hr/>
        <h6>
            <span class="">Followers</span>
            <span class="fa fa-long-arrow-down nav-icon"></span> {{model.user.followers.length}}
            <span class="link-separator">|</span>
            <span class="">Following</span>
            <span class="fa fa-long-arrow-up nav-icon"></span> {{model.user.following.length}}
            <span class="link-separator">|</span>
            <span class="">Recommendations</span>
            <span class="fa fa-thumbs-up nav-icon"></span> {{model.user.recommendations.length}}
        </h6>
    </div>
    <br/>
    <div ng-If="model.networkRecommendations === 0">
        <div class="center-content text-center">
            <button type="submit" ng-click="model.toggleView()" class="btn btn-primary btn-yt">
                <span class="fa fa-users"></span>
                See Recommended places from your network
            </button>
        </div>
        <hr/>
        <h4>Recommended places to visit</h4>
        <hr class="results-heading-separator"/>
        <br/>
        <div class="input-group center-content" ng-show="model.public.length">
            <input ng-model="publicQuery"
                   type="text"
                   class="form-control"
                   placeholder="Filter Places">
        </div>
        <br/>
        <div class="row">
            <div ng-show="!model.public.length" class="col-xs-12">
                <p class="center-content" style="font-size: 14px">
                    There are no new places to recommend.
                </p>
            </div>
            <div ng-repeat-start="hit in model.public | filter: publicQuery" class="col-sm-6 col-md-3 result">
                <div class="result-container">
                    <div class="thumbnail">
                        <img class="img-responsive"
                             ng-src="https://lh4.googleusercontent.com/-1wzlVdxiW14/USSFZnhNqxI/AAAAAAAABGw/YpdANqaoGh4/s1600-w400/Google%2BSydney">
                        </img>
                    </div>
                    <div class="result-info">
                        <h5 class="place-title">{{hit.place.name}}</h5>
                        <h6 class="place-author">{{hit.place.formatted_address}}</h6>
                        <h6 class="place-description">{{hit.place.rating}}</h6>
                    </div>
                    <hr class="results-heading-separator"/>
                    <h6>
                        <span class="fa fa-thumbs-up itube-heart-info"></span>
                        <span class="badge">{{hit.place.totalReco}}</span>
                        <span ng-show="place.added" class="badge badge-added">Recommended</span>
                        <button type="submit"
                                ng-click="model.addRecommendation(hit, 0)"
                                ng-hide="place.added"
                                class="btn btn-primary">
                            <!--<span class="fa fa-thumbs-up"></span>-->
                            Recommend
                        </button>
                        <span ng-show="place.error" class="badge badge-error">Error!</span>
                    </h6>
                </div>
            </div>
            <div ng-repeat-end ng-if="$index % 4 == 3" class="clearfix visible-md-block visible-lg-block"></div>
        </div>
    </div>
    <div ng-If="model.networkRecommendations === 1">
        <div class="center-content text-center">
            <button type="submit" ng-click="model.toggleView()" class="btn btn-primary btn-yt">
                <span class="fa fa-tumblr-square"></span>
                Latest from Travelyaar Community
            </button>
        </div>
        <hr/>
        <h4>Recommended places from Network</h4>
        <hr class="results-heading-separator"/>
        <br/>
        <div class="input-group center-content" ng-show="model.network.length">
            <input ng-model="networkQuery"
                   type="text"
                   class="form-control"
                   placeholder="Filter recommendations from Network eg: Boston">
        </div>
        <br/>
        <div class="row">
            <div ng-show="!model.network.length" class="col-xs-12">
                <p class="center-content" style="font-size: 14px">
                    There are no new recommendations from your Network.
                    <br/>
                    <br/>
                    Thankfully, you can do either of the following:
                    <br/>
                    1. See recommendations from Travelyaar.
                    <br/>
                    2. Follow more users to get recommendations.
                </p>
            </div>
            <div ng-repeat-start="hit in model.network | filter: networkQuery" class="col-sm-6 col-md-3 result">
                <div class="result-container">
                    <div class="thumbnail">
                        <img class="img-responsive"
                             ng-src="https://lh4.googleusercontent.com/-1wzlVdxiW14/USSFZnhNqxI/AAAAAAAABGw/YpdANqaoGh4/s1600-w400/Google%2BSydney">
                        </img>
                    </div>
                    <div class="result-info">
                        <h5 class="hit-title">{{hit.place.name}}</h5>
                        <h6 class="hit-author">{{hit.place.formatted_address}}</h6>
                        <h6 class="hit-description">{{hit.place.rating}}</h6>
                    </div>
                    <hr class="results-heading-separator"/>
                    <h6>
                        <span class="fa fa-thumbs-up itube-heart-info"></span>
                        <span class="badge">{{hit.place.totalReco}}</span>
                        <span ng-show="hit.added" class="badge badge-added">Added to Favorites</span>
                        <button type="submit"
                                ng-click="model.addRecommendation(hit, 1)"
                                ng-hide="hit.added"
                                class="btn btn-primary">
                            <!--<span class="fa fa-heart"></span>-->
                            Recommend
                        </button>
                        <span ng-show="hit.error" class="badge badge-error">Error!</span>
                    </h6>
                </div>
            </div>
            <div ng-repeat-end ng-if="$index % 4 == 3" class="clearfix visible-md-block visible-lg-block"></div>
        </div>
    </div>
</div>