<nav class="navbar navbar-default navbar-fixed-top navbar-bg">
    <div class="container-fluid">
        <div class="navbar-header align-to-left right-separator">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left glaficon-color"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand navbar-brand-font" href="">Websites</a>
        </div>
        <div class="align-to-right">
            <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus glaficon-color"></span>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="#/user/{{website.developerId}}/website/{{website._id}}/page">{{website.name}}</a>
            <a href="#/user/{{website.developerId}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom navbar-bg">
    <div class="container-fluid">
        <div class="row navbar-text" style="width: 100%; text-align: center;">
            <div class="col-xs-2">
                <a href="">
                    <span class="glyphicon glyphicon-heart glaficon-color"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="">
                    <span class="glyphicon glyphicon-star glaficon-color"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="">
                    <span class="glyphicon glyphicon-thumbs-up glaficon-color"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="">
                    <span class="glyphicon glyphicon-trash glaficon-color"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="">
                    <span class="glyphicon glyphicon-share-alt glaficon-color"></span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#/user/{{model.userId}}" class="pull-right">
                    <span class="glyphicon glyphicon-user glaficon-color"></span>
                </a>
            </div>
        </div>
    </div>
</nav>