input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
}

.pseudo-margin {
    margin: 0 -15px;
}

.draw-vertical-line {
    width:1px;
    height:100%;
    left: 33%;
    position: absolute;
    top:0;
    margin-left:2px;
    margin-right:2px;
    border-left:1px solid gray;
}
.left-chevron{
    padding: 15px;
}
.align-to-left{
    float: left!important;
    padding-left: 5px;
    margin: 15px;
}
.align-to-right{
    float: right!important;
    margin: 15px;
    padding-right: 5px;
}

.padding-nav-text{
    padding-left: 35px;
}

.navbar-bg{
    background-color:#337ab7;
    /*color : white;*/
}

.navbar-brand-font{
    color : white!important;
}
.glaficon-color{
    color: white;
}

.glaficon-color-black{
    color: black;
}

.glaficon-color-blue{
    color: dodgerblue;
}

.right-separator{
    padding-right: 10px;
}

.list-group-item{
    border : none;
    margin: 10px;
    color: #337ab7;

}

.relative-position{
    position: relative;
}

.absolute-position{
    position: absolute;
}

.set_overlay{
    top : 0px;
    right : 0px;
    z-index: 6;
    background-color: white;
    padding-right: 0px;
}
.widget-tool{
    position: absolute;
    right: 0px;
    background-color: white;
    padding: 5px 10px 10px 10px;
    border-bottom-left-radius: 8px;
    opacity: 0.8;
    z-index: 1;
}
.iframe{
    margin-bottom: 60px;
}