.jumbotron{
    background:
            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            #34495e url("bg.jpg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
.user-link:hover{
    color: #cd201f;
}
.user-link{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.4s;
    vertical-align: middle;
    touch-action: manipulation;
    line-height: 1.846;
}

.align-center{
    text-align: center;
}

.branding-main{
    padding-top: 0px;
}

.branding-main span{
    font-size: 56px;
    vertical-align: middle;
    padding-left: 5px;
}

.branding{
    padding-top: 20px;
}

.desc{
    font-size: larger;
    font-weight: 500;
    color: white;
}

.sub-desc{
    font-size: smaller;
    font-weight: 500;
    color: white;
}
.center-content{
    width: 90%;
}

.padded-top{
    padding-top: 90px;
}

.users-heading{
    font-size: 18px;
}

.user-info{
    padding: 0 10px;
}

.results-heading-separator{
    margin: 5px 0;
}

.result{
    padding-bottom: 15px;
}

.result-container{
    padding-bottom: 1px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.result-info{
    padding-left: 10px;
}

.results-heading{
    margin-left: 5%;
    font-size: 22px!important;
}

.result-info .place-title{
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.result-info .place-author, .result-info .place-description{
    font-size: small;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.details-container{
    padding-bottom: 1px;
    font-size: medium;
    word-wrap: break-word;
    color:black;
}

.badge-added{
    margin: 10px;
    padding: 6px 16px
}

.badge-error{
    background-color: #cd201f;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 6px 16px
}

.badge-follow{
    margin: 5px 10px;
    padding: 6px 16px
}

.itube-heart-info{
    padding-left: 10px;
}

.itube-heart, .itube-heart:hover, .itube-heart:focus, .itube-heart:active{
    color: #cd201f;
    margin: 5px;
}

.branding-main{
    padding-top: 0px;
}

.branding-main span{
    font-size: 56px;
    vertical-align: middle;
    padding-left: 5px;
}

.branding{
    padding-top: 20px;
}

.branding span{
    font-size: 48px;
    vertical-align: middle;
    padding-left: 5px;
    /*color: #444444;*/
}

.hr-main{
    margin-top: 10px;
    margin-bottom: 10px;
}

.special-separator{
    margin-top: 15px;
    margin-bottom: 15px;
    line-height:1px;
    width: 100%;
    border-top: 1px solid gray;
    text-align: center;
}
div.special-separator>span{
    z-index: 10;
    background-color: white;
    padding: 10px;
}

.home-image{
    background-image: url("../img/home3.png");
}

.textarea-detail{
    height:100px;
    width: 100%;
    border: 5px;
    padding: 5px;
    resize: none;
}