.jumbotron{
    background:
            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            #34495e url("bg.jpg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
.user-link:hover{
    color: #cd201f;
}
.user-link{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.4s;
    vertical-align: middle;
    touch-action: manipulation;
    line-height: 1.846;
}

.align-center{
    text-align: center;
}

.branding-main{
    padding-top: 0px;
}

.branding-main span{
    font-size: 56px;
    vertical-align: middle;
    padding-left: 5px;
}

.branding{
    padding-top: 20px;
}

.desc{
    font-size: larger;
    font-weight: 400;
}

.sub-desc{
    font-size: smaller;
    font-weight: 400;
}
.center-content{
    width: 90%;
}

.padded-top{
    padding-top: 90px;
}

.user-info{
    padding: 0 10px;
}

.results-heading-separator{
    margin: 5px 0;
}