<nav class="navbar navbar-default navbar-fixed-top navbar-bg">
	<div class="container-fluid">
		<div class="navbar-header align-to-left right-separator">
			<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
				<span class="glyphicon glyphicon-chevron-left glaficon-color"></span>
			</a>
		</div>
		<div>
			<a class="navbar-brand navbar-brand-font" href="">Edit Widget</a>
		</div>
		<div class="align-to-right">
			<a ng-click="model.updateWidget(model.widget)" class="navbar-link">
				<span class="glyphicon glyphicon-ok glaficon-color"></span>
			</a>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div ng-if="model.error" class="alert alert-danger">
		{{model.error}}
	</div>
	<form>
		<div ng-switch="model.widget.widgetType">
			<div ng-switch-when="HEADER">
				<ng-include src="'views/widgets/widget-heading.view.client.html'"></ng-include>
			</div>
			<div ng-switch-when="IMAGE">
				<ng-include src="'views/widgets/widget-image.view.client.html'"></ng-include>
			</div>
			<div ng-switch-when="YOUTUBE">
				<ng-include src="'views/widgets/widget-youtube.view.client.html'"></ng-include>
			</div>
			<div ng-switch-when="HTML">
				<ng-include src="'views/widgets/widget-html.view.client.html'"></ng-include>
			</div>
			<div ng-switch-default>
				Cannot edit this widget.
			</div>
		</div>
	</form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<div class="pseudo-margin stick-to-right">
			<a href="#/user/{{model.userId}}">
				<span class="glyphicon glyphicon-user glaficon-color"></span>
			</a>
		</div>
	</div>
</nav>