<nav class="navbar navbar-default navbar-fixed-top navbar-bg">
    <div class="container-fluid">
        <div class="navbar-header align-to-left right-separator">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left glaficon-color"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand navbar-brand-font" href="/widget-chooser.html">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.addWidget('HEADER')">Header</a>
        </li>
        <li class="list-group-item">
            <a href="">Label</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.addWidget('HTML')">HTML</a>
        </li>
        <li class="list-group-item">
            <a href="">Text Input</a>
        </li>
        <li class="list-group-item">
            <a href="">Link</a>
        </li>
        <li class="list-group-item">
            <a href="">Button</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.addWidget('IMAGE')">Image</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.addWidget('YOUTUBE')">Youtube</a>
        </li>
        <li class="list-group-item">
            <a href="">Data Table</a>
        </li>
        <li class="list-group-item">
            <a href="">Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-bg">
    <div class="container-fluid" align="right">
        <div class="align-to-right pseudo-margin">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user glaficon-color"></span>
            </a>
        </div>
    </div>
</nav>
