<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header align-to-left right-separator">
            <a href="t.html" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left glaficon-color-black"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand" href="/widget-chooser.html">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="ding.html">Header</a>
        </li>
        <li class="list-group-item">
            <a href="">Label</a>
        </li>
        <li class="list-group-item">
            <a href="">HTML</a>
        </li>
        <li class="list-group-item">
            <a href="">Text Input</a>
        </li>
        <li class="list-group-item">
            <a href="">Link</a>
        </li>
        <li class="list-group-item">
            <a href="">Button</a>
        </li>
        <li class="list-group-item">
            <a href="ge.html">Image</a>
        </li>
        <li class="list-group-item">
            <a href="tube.html">Youtube</a>
        </li>
        <li class="list-group-item">
            <a href="">Data Table</a>
        </li>
        <li class="list-group-item">
            <a href="">Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid" align="right">
        <div class="align-to-right pseudo-margin">
            <a href="../profile.html">
                <span class="glyphicon glyphicon-user glaficon-color-blue"></span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>