<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <h1>Login</h1>
    <input type="text"
           ng-model="model.username"
           class="form-control"
           placeholder="username" required=""
           autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
    <input type="password"
           class="form-control"
           ng-model="model.password"
           placeholder="password"/>
    <a ng-click="model.login(model.username,model.password)" class="btn btn-primary btn-block"> Login</a>
    <a class="btn btn-success btn-block" ng-click="model.register()">Register</a>
    <a href="/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook-official"></span>
        Facebook
    </a>

</div>