<nav class="navbar navbar-default navbar-fixed-top navbar-bg">
    <div class="container-fluid">
        <div class="navbar-header align-to-left right-separator">
            <a href="#/user/{{model.userId}}/website/" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left glaficon-color"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand navbar-brand-font" href="">Pages</a>
        </div>


        <div class="align-to-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus glaficon-color"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-bg">
    <div class="container-fluid" align="right">
        <div class="align-to-right pseudo-margin">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user glaficon-color"></span>
            </a>
        </div>
    </div>
</nav>